@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

/* Custom scrollbar hide for different browsers if needed, though Tailwind has plugins or utils often used */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Safe Area Utilities for Mobile */
.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.h-safe {
  min-height: 100vh;
  min-height: 100dvh;
  /* Dynamic viewport height support */
}